@import "../constants/variables";
.container {
  position: absolute;
  text-align: left;
  overflow-y: visible;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 33px);
  h1 {
    font-size: 1.9em;
    padding-left: 10px;
    margin: 8px;
  }

  h2 {
    font-size: 1.4rem;

    margin: 8px;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  a {
    font-size: 1.4rem;
  }

  .setup {
    padding: 20px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $blue;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: $grey;
}
