.container {
  position: absolute;
  text-align: left;
  overflow-y: visible;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 33px);
}

.container h1 {
  font-size: 1.9em;
  padding-left: 10px;
}

.container h2 {
  font-size: 1.4rem;
}

.container h3 {
  font-size: 1.1rem;
}

.container h4 {
  font-size: 0.9rem;
}

.container h5 {
  font-size: 1.3rem;
}

.container a {
  font-size: 1.4rem;
}
