@import '../styles/animations';

$barHeight: 20px;

.titleBarSpacer {
  height: 30px;
}

.titleBarContainer {
  display: flex;
  flex-direction: row;
  width: calc(100% - 10px);

  top: 0;
  left: 0;
  background: darken(#ccc, 60%);
  padding: 5px;
  margin: 0;
  height: $barHeight;
  line-height: $barHeight;
  justify-content: space-between;
  font-size: 14px;
  position: fixed;
  z-index: 100;

  i {
    font-size: 12px;

    &:hover {
      animation: pulsate 1s infinite;
    }
  }
  // title Bar Main
  .titleBar {
    display: flex;
    flex-direction: row;
    flex: 1;

    span {
      padding: 0 8px;
    }
  }

  // Action Bar for close,minimize windows
  .actionBar {
    cursor: pointer;

    span {
      padding-right: 8px;
    }

    span:first-of-type {
      padding-right: 18px;
    }
  }
}
