.section {
  min-width: calc(100vw - 10px);
  padding: 0;
  margin: 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;
    h2 {
      cursor: pointer;
      text-align: left;
      padding-left: 10px;
    }
  }
  .sectionContent {
    width: 100%;
    background-color: lighten(#2a2a2a, 10%);
    padding-left: 10px;
  }

  .sectionContentHidden {
    display: none;
  }
}
