@import '../../constants/variables';

.picker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 35px;
  margin: 10px 0 10px 10px;
  width: calc(100% - 20px);

  button {
    min-width: 140px;
    width: 140px;
    height: 100%;
    border: 1px solid $blue;
    font-size: 13px;
    text-align: left;
    border-radius: 3px 0 0 3px;
    color: #fff;
    background: darken($blue, 15%);
    cursor: pointer;
    overflow: hidden;

    &:hover {
      background: darken($blue, 5%);
      @include transition(background 0.3s ease);
    }

    &:focus {
      outline: none;
    }
  }

  div {
    overflow: hidden;
    line-height: 34px;
    font-size: 12px;
    padding: 0 9px 0 9px;
    border-radius: 0 3px 3px 0;
    border: 1px solid $blue;
    flex-grow: 2;
  }
}
