.pageHeader {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  div {
    padding: 8px;
  }

  div:nth-last-of-type(1) {
    padding: 8px;

    i {
      padding: 10px;
      cursor: pointer;
      &:hover {
      }
    }
  }
}
