


.pageHeader {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  div:nth-last-of-type(1) {
    padding:25px;

    i {
      padding: 10px;
    cursor: pointer;
      &:hover{

      }
    }

  }

}
