.tooltip {
  border: 1px solid black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 8px;
  padding: 5px;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  pointer-events: none;
  //white-space: nowrap;
  //bottom: -34px;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  right: 0;
  left: 0;
  z-index: 2;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
    top: -19px;
    left: 10px;
  }
}

.hideTooltip {
  display: none;
}
