

.dutyImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-end;
    background: no-repeat;
  min-height: 120px;
  padding-right: 15px;

}
