.triggers {
  padding: 10px;
  margin: 0;
}

.trigger {
  list-style-type: none;
  margin: 0;

  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;

  .id {
    display: flex;
    border-bottom: 1px solid #ccc;
    border-radius: 0 3px 3px 0;
    width: calc(100% - 12px);
    padding: 6px;
    background: darken(#ccc, 30%);
    justify-content: space-between;

    .actions {
      display: flex;

      div {
        padding-right: 15px;
      }

      div:last-of-type {
        padding-right: 5px;
      }
    }
  }

  .main {
    padding: 5px;

    .regEx {
      font-size: 10px;
    }

    .text {
      .alertText {
      }

      .infoText {
      }
    }
  }
}
