@import '../../constants/variables';

.triggers {
  padding: 10px;
  margin: 0;
}

.trigger {
  list-style-type: none;
  margin: 0;

  border: 1px solid $grey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;

  .id {
    display: flex;
    border-bottom: 1px solid $grey;
    border-radius: 0 3px 3px 0;
    width: calc(100% - 16px);
    padding: 8px;
    background: darken($grey, 7%);
    justify-content: space-between;

    .actions {
      display: flex;

      div {
        padding-right: 25px;
      }

      div:last-of-type {
        padding-right: 5px;
      }
    }
  }

  .main {
    padding: 5px;
    display: flex;
    flex-direction: column;

    span {
      display: inline-block;
    }

    .regEx {
      font-size: 10px;
    }

    .text {
      .alarmText {
        color: red;
      }

      .alertText {
        color: orange;
      }

      .infoText {
        color: cornflowerblue;
      }

      .tts {
      }
    }
  }
}
