@import '../../constants/variables';
@import url('https://highlightjs.org/static/demo/styles/railscasts.css');

pre, xmp, plaintext, listing {
  margin: 0 0;
}

.triggers {
  padding: 10px;
  margin: 0;
}

.trigger {
  list-style-type: none;
  margin: 0;
  border: 1px solid $grey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;


  .id {
    display: flex;
    border-bottom: 1px solid $grey;
    border-radius: 0 3px 3px 0;
    width: calc(100% - 16px);
    padding: 8px;
    background: darken($grey, 7%);
    justify-content: space-between;


  .headerText {
    padding-left: 10px;
  }

    .actions {
      display: flex;

      div {
        padding-right: 25px;
      }

      div:last-of-type {
        padding-right: 5px;
      }
    }
  }


  .collapsed {
    visibility: hidden;
    height: 0;
  }

  .main {
    display: flex;
    flex-direction: column;



    span {
      display: inline-block;
    }

    .regEx {
      font-size: 0.9em;
      background: darken($blue, 11%);
      border-bottom: $grey;
      padding: 6px;
    }

    .text {
      padding: 6px;

      .title {
        margin-top: 10px;
        padding: 3px;
        font-weight: bold;
        background: darken($grey, 10%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      .lang {
        font-weight: bold;
        padding-right: 5px;
      }

      .alarmText {
        color: lighten($red, 20%);
      }

      .alertText {
        color: lighten($orange, 20%);
      }

      .infoText {
        color: lighten($blue, 20%);
      }

      .tts {
      }
    }
  }

  .modifyActions {
    padding: 5px;
    background: darken($grey, 7%);
    width: calc(100% - 10px);
  }
}
